.body{
	background-color: #462e2e;
}
.Header{
	background-image: url("././Images/Scotts_Banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20%;
	text-align: center;
	border: #000000 solid 10px;
	color: rgb(255, 255, 255);
	border-radius: 20%;
}
.AboutMe{
	border: #808080 solid 10px;
	background-color: #6e6e6e;
	padding: 20%;
	text-align: left;
	border-radius: 20%;
}
.Photos{
	background-color: #6e6e6e;
	padding: 20%;
	text-align: center;
	border: #000000 solid 10px;
	border-radius: 20%;
}
.Archsinner{
	display: block ;
	float: left;
	padding: 20px ;
	clear: both ;
	max-height: 45%;
	max-width: 45%;
	border-radius: 40%;
	text-align: right;	
}
.Benji{
	display: block ;
	float: left;
	padding: 20px ;
	clear: both ;
	max-height: 45%;
	max-width: 45%;
	border-radius: 40%;
	text-align: right;	
}
.Tito{
	display: block ;
	float: left;
	padding: 20px ;
	clear: both ;
	max-height: 45%;
	max-width: 45%;
	border-radius: 40%;
	text-align: right;
}
.PhotoRow{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-right:-15px;
	margin-left:-15px;
	float: left;
	width: 50%;
	padding: 5%;	
}
.FollowMe{
	background-color: #6e6e6e;
	padding: 20%;
	text-align: left;
	border: #808080 solid 10px;
	border-radius: 20%;
}
.ProgramsColumn{
	background-color: #6e6e6e;
	padding: 20%;
	text-align: left;
	border: #000000 solid 10px;
	border-radius: 20%;
}
.BlogColumn{
	background-color: #6e6e6e;
	padding: 20%;
	text-align: left;
	border:  #808080 solid 10px;
	border-radius: 20%;
}
