.body{
	background-color: #462e2e;
}
.Header{
	width: auto;
	background-image: url("././Images/Scotts_Banner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20%;
	text-align: center;
	border: #000000 solid 10px;
	color: rgb(255, 255, 255);
	border-radius: 20%;
}
.AboutMe{
	width: auto;
	border: #808080 solid 10px;
	background-color: #6e6e6e;
	padding: 20%;
	text-align: center;
	border-radius: 20%;
}
.Photos{
	width: auto;
	height: auto;
	float: center;
	width: auto;
	background-color: #6e6e6e;
	padding: 20%;
	text-align: left;
	border: #000000 solid 10px;
	border-radius: 20%;
}
.Archsinner{
	float: left;
	padding: 20%; ;
	clear: both ;
	max-height: 25%;
	max-width: 25%;
	border-radius: 40%;
	text-align: right;	
}
.Benji{
	float: left;
	padding: 20%;
	clear: both ;
	max-height: 25%;
	max-width: 25%;
	border-radius: 40%;
	text-align: right;	
}
.Tito{
	float: left;
	padding: 20%;
	clear: both;
	max-height: 25%;
	max-width: 25%;
	border-radius: 40%;
	text-align: right;
}
.FollowMe{
	width: auto;
	background-color: #6e6e6e;
	padding: 20%;
	text-align: left;
	border: #808080 solid 10px;
	border-radius: 20%;
}
.ProgramsColumn{
	width: auto;
	background-color: #6e6e6e;
	padding: 20%;
	text-align: left;
	border: #000000 solid 10px;
	border-radius: 20%;
}
.BlogColumn{
	width: auto;
	background-color: #6e6e6e;
	padding: 20%;
	text-align: left;
	border:  #808080 solid 10px;
	border-radius: 20%;
}
